.dog{
    height: auto;
    width: 250px;
}
h1{
    color: red;
}
.flex-container {
    height: 140px;
    padding: 16px;
    background: plum;
    border: 4px solid indigo;
    display: flex ;
    align-items: center;
    justify-content: center;
    gap: 8px;
 }
 
 /* this selector selects all divs inside of .flex-container */
.flex-container div {
    width: 60px;
    
    gap: 9px;
    background: peachpuff;
    border: 5px solid brown;
    height: 100px;
 }
 .romance{
    color: pink;
 }
 .about-clicked{
    color: blue;
 }
 .about-Unclicked{
    color:black;
 }
 
/*.flex-container .two{
    flex: 1;
}*/